<main>
    <article>
        <h2>True Style Never Dies</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nemo, nobis culpa a nam assumenda ab cumque
            perspiciatis fugiat delectus quis. Optio, illum! Vitae voluptatem labore natus magni fugiat itaque.
        </p>
        <button>
            <a href="#" class="order-now">Order Now!</a>
        </button>
        <img src="../../img/great-wave-off-kanagawa.svg" class="wave" width="330px">
    </article>
    <section>
        <div class="card">
            <img src="../../img/1.jpg" width="200px" class="clothes">
            <p class="clothes-name">Back to School</p>
            <p class="price">P400</p>
          </div>
          <div class="card">
            <img src="../../img/2.jpg" width="200px" class="clothes">
            <p class="clothes-name">Boy In A Dream</p>
            <p class="price">P400</p>
          </div>
          <div class="card">
            <img src="../../img/3.jpg" width="200px" class="clothes">
            <p class="clothes-name">Butter Fly Effect</p>
            <p class="price">P400</p>
          </div>
          <div class="card">
            <img src="../../img/4.jpg" width="200px" class="clothes">
            <p class="clothes-name">Frog Avocado</p>
            <p class="price">P400</p>
          </div>
    </section>
    <article>
        <div class="quote">
            <p>
              <q>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea harum
                cum aut quod dignissimos expedita eius quidem ab quo amet, facere
                culpa modi mollitia alias ex fuga. Fugit, aliquam numquam.</q>
            </p>
            <p class="author">-Anon</p>
          </div>
    </article>
</main>