<header>
  <h1>Contrivance</h1>

  <nav>
    <ul>
      <li>
        <a href="#home" class="nav">Home</a>
      </li>
      <li>
        <a href="#about" class="nav">About</a>
      </li>
      <li>
        <a href="contact" class="nav">Contact Us</a>
      </li>
      <li>
        <a href="#faq" class="nav">FAQ</a>
      </li>
      <li>
        <a href="#size" class="nav">Size Guide</a>
      </li>
      <li>
        <a href="#payment" class="nav">Payment Method</a>
      </li>
    </ul>
  </nav>
</header>